@page "/"
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthProvider

<p>Chargement...</p>

@code {

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated ?? false)
        {
            Navigation.NavigateTo("/todo", true);
        }
        else
        {
            Navigation.NavigateTo("/Account/Login", true);
        }
    }

}